<h2>Reporter output</h2><table><tr><td>Running iteration with username ="crmuser" and password="crmuser"</td></tr>
<tr><td>Starting test ...</td></tr>
<tr><td>Navigating to url ..</td></tr>
<tr><td>Entering username</td></tr>
<tr><td>Entering password</td></tr>
<tr><td>Clicking Singin button</td></tr>
<tr><td>Actual title of the page "Home"</td></tr>
<tr><td>Verifying the actual title of the page "Home" with expected "Home"</td></tr>
<tr><td>Ending test ...</td></tr>
<tr><td>Completed iteration with username ="crmuser" and password="crmuser"</td></tr>
<tr><td>Running iteration with username ="crmuser" and password="crmuserrrr"</td></tr>
<tr><td>Starting test ...</td></tr>
<tr><td>Navigating to url ..</td></tr>
<tr><td>Entering username</td></tr>
<tr><td>Entering password</td></tr>
<tr><td>Clicking Singin button</td></tr>
<tr><td>Actual title of the page "Users"</td></tr>
<tr><td>Verifying the actual title of the page "Users" with expected "Home"</td></tr>
<tr><td>Running iteration with username ="crmuser" and password="wrongpassword"</td></tr>
<tr><td>Starting test ...</td></tr>
<tr><td>Navigating to url ..</td></tr>
<tr><td>Entering username</td></tr>
<tr><td>Entering password</td></tr>
<tr><td>Clicking Singin button</td></tr>
<tr><td>Actual title of the page "Users"</td></tr>
<tr><td>Verifying the actual title of the page "Users" with expected "Home"</td></tr>
</table>